<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @order.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.quantity %></td>
        <td><%= product.price %></td>
        <td><%= vote.work.category.capitalize %></td>
        <td><%= render_date vote.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
