<h1>Order Confirmation</h1>

<section>
  <article class="gray-box order-contact">
    <h3> Customer Information: </h3>
    <p><%= @processed_order.email %></p>
    <p><%= @processed_order.name_on_card %><br /><%= @processed_order.street_address %><br /><%= @processed_order.city %>, <%= @processed_order.state %>, <%= @processed_order.zip %></p>
    <p> CC: <%= @processed_order.cc_num.last(4) %> </p>
  </article>
  <article class="gray-box">
    <% @processed_order.order_items.each do |item| %>
      <% product = Product.find(item.product_id) %>
      <h3> <%= link_to product.name, product_path(product.id) %> </h3>
     <ul>
       <li> Price per pet: $<%= product.price %> </li>
       <li> Quantity: <%= item.quantity %></li>
       <li> Subtotal: $<%= item.get_subtotal %></li>
     </ul>
    <% end %>
  </article>
  <article class="gray-box">
    <h3> Order Total: $<%= @processed_order.get_total %> </h3>
    <h3> Order Status: <%= @processed_order.status %> </h3>
    <h3> Date Ordered: <%= @processed_order.created_at.to_formatted_s(:long) %> </h3>
  </article>
</section>
