<section>
  <%= form_for @product do |f| %>
  <div>
   <%= f.label :categories %>
   <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %>
 </div>
 <% end %>

 <%= link_to "Add Category", new_category_path %>

  <%= form_for @product, url: destination do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :stock %>
  <%= f.text_field :stock %>

  <%= f.label :available_to_purchase? %>
  <%= f.select :status, ["true", "false"] %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.label :user %>
  <%= f.text_field :user_id %>


  <%= f.submit class: "button" %>
  <% end %>
</section>
