<h1><%= @product.name %></h1>

<img src="<%= @product.image_url %>">


<article>
  <h2>
    Categories: <%= @product.categories.length %>
  </h2>
  <ul>
    <% @product.categories.each do |category| %>
    <li>
      <%= category.name %>
    </li>
    <% end %>
  </ul>
</article>

<article>
  <p>
    Stock: <%= @product.stock %>
  </p>
  <p>
    Price: $<%= @product.price %>
  </p>
  <p>
    Description: <%= @product.description %>
  </p>
  <p>
    Seller ID: <%= @product.user_id %>
  </p>
</article>


<%= link_to "All products", products_path, class: "button" %>
<%= link_to "Edit", edit_product_path(@product.id), class: "button" %>
<%= link_to "Leave a review", new_product_review_path(@product.id), class: "button" %>

<%= @product.reviews.count %>
