<div class="product-row">
  <% if @product.status == false || @product.stock == 0 %></div>
  <div class="banner">
    <h5>This product is currently unavailable</h5>
  </div>
  <% end %>
  <section id = "show-page-content">
    <section class = "show-product-view">
      <article class="block1">
        <div class="product-image-box">
        <%= image_tag(@product.image_url) %>
        <h5> Description </h5>
          <p><%= @product.description %></p>
</div>
    <div class="product-purchase-box">    <section class ="product-info">
          <h3><%= @product.name %></h3>
          <h5>By <%= link_to @merchant.username, user_path(@merchant.id) %></h5>
          <p><%= render partial: "layouts/starrating", locals: { rating: @product.average_rating } %>
            (<%= @product.reviews.count %>)</p>



            <p>Price:$  <%= (@product.price) %></p>
            <%if @product.stock == 0%>
            <span class="green">No stock for retired products </span>
            <% else %>
            <% if @product.stock != nil && @product.stock != 0 %>
            <p><span class="green">In Stock</span> (only <%= @product.stock %> left)</p>
            <% else %>
            <p><span class="grey">Out of Stock</span></p>
            <% end %>
            <% end %>





              <% if @product.stock != 0 %>
              <%= form_for @order_item do |f| %>
              <%= f.hidden_field :product_id, value: @product.id%>
              <%= f.label :Quantity %>
              <%= f.select :quantity, (1..@product.stock).to_a %>
              <%= f.submit "Add to Cart", class: "cart button"%>
              <% end %>
              <%end%>

            </div>
  </article>

            <div class="review-row">
              <section class = "show-product-review">
                <article class="review-title"><div class="item1"><h4>Reviews</h4>
                <p><span></div><div class="item2"><%= render partial: "layouts/starrating", locals: { rating: @product.average_rating } %></span> (<%= @product.reviews.count %>)
                <div class="leave-review-button">  <%= link_to "Write a Review!", new_product_review_path(@product.id), class: " button" %></div></p></article>
                <article class="reviews">
                  <% @product.reviews.each do |review| %>
                  <section class="user-image">
                    <div class="image-name-box1">


<%= image_tag("F100010726.jpg",  alt: "Little girl and her dog in a car", size: "80x80",class: "user_image") %>
                    <% if @user %>
                    <div class="image-user-box2"><p>Reviewed by: <%= @user.username %></p>
                    <% else %>
                    <p>Guest
                    <% end %>
                    Reviewed on: <%= review.created_at.localtime.strftime("%d %b %Y") %></p>
                  </div>


                    <div class="star-image-review-box">
                    <%= image_tag(@product.image_url, alt: "review-item", size: "80x80") %>
                    <%= render partial: "layouts/starrating", locals: { rating: review.rating } %>  </div>


                    <p>"<%= review.text_review %>"</p></div>
                  </section>
                  <% end %>

              </div>
