<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header>

    <nav>
      <ul>
        <% if @user %>
          <li> Welcome <%= @user.username %>
            <%= link_to "logout", logout_path, method: :delete %>
         </li>
        <% else %>
        <li> You are shopping as a guest 
        <%= link_to "login with GitHub", github_login_path %>
        <% end %>
        <li> <%= link_to "See my order", new_order_path%> </li>
      </ul>
    </nav>
  </header>
  <section class="flash">
    <% flash.each do |name, message| %>
      <section class="callout <%= name %>">
        <% if name == "alert" %>
          <ul>
            <% flash[:alert].each do |field, message| %>
              <li>
                <strong> <%= field.capitalize %> </strong> <%= message %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>
            <%= message %>
          </p>
        <% end %>
      </section>
    <% end %>
  </section>

  <body>

    <%= yield %>

  </body>
</html>
