<!DOCTYPE html>
<html lang="en">
<<<<<<< Updated upstream
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
=======
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
>>>>>>> Stashed changes

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<<<<<<< Updated upstream
  <body>
    <div class="body-wrapper">
      <header class="clearfix">
        <section class="site-title">
            <h1>Welcome To Petsy</h1>
          <h3 class="homepage-subtitle">The Site for Animal Adoption by Ada People for Pets (APP)</h3>
        </section>
        <nav class="site-nav">
          <ul class="vertical menu">
            <% if @user %>
            <li>Welcome <%= @user.username %></li>
            <li><%= link_to "logout", logout_path, method: :delete %></li>
            <% else %>
            <li>You are shopping as a guest</li>
            <li><%= link_to "login with GitHub", github_login_path %></li>
            <% end %>
            <li> <%= link_to "See my order", new_order_path%> </li>
            <li> <img src="../assets/img/images/fi-home.svg" > <%= link_to "Home", root_path%> </li>
          </ul>
        </nav>
      </header>
      <nav class="category-nav">
        <ul class="horizontal menu align-center expanded">
=======

<header>

  <nav>
    <ul>
      <% if @user %>
      <li> Welcome <%= @user.username %>
        <%= link_to "logout", logout_path, method: :delete %>
      </li>
      <% else %>
      <li> You are shopping as a guest
        <%= link_to "login with GitHub", github_login_path %>
        <% end %>
        <li> <%= link_to "See my order", new_order_path%> </li>
      </ul>
    </nav>
  </header>
  <section class="flash">
    <% flash.each do |name, message| %>
    <section class="callout <%= name %>">
      <% if name == "alert" %>

      <ul>
        <% if @user %>
        <li> Welcome <%= @user.username %>
          <%= link_to "logout", logout_path, method: :delete %>
        </li>
        <% else %>
        <li> You are shopping as a guest
          <%= link_to "login with GitHub", github_login_path %>
          <% end %>
          <li> <%= link_to "See my order", new_order_path%> </li>
        </ul>
      </nav>

      <nav class="category-nav">
        <ul class="vertical medium-horizontal menu align-center">
>>>>>>> Stashed changes
          <% @categories.each do |category| %>
          <li>
            <%= link_to category.name, category_path(category.id) %>
          </li>
          <% end %>
        </ul>
      </nav>
<<<<<<< Updated upstream
      <section class="flash">
        <% flash.each do |name, message| %>
        <section class="callout <%= name %>">
          <% if name == "alert" %>
          <ul>
            <% flash[:alert].each do |field, message| %>
            <li>
              <strong> <%= field.capitalize %> </strong> <%= message %>
            </li>
            <% end %>
          </ul>
          <% else %>
          <p>
            <%= message %>
          </p>
          <% end %>
        </section>
        <% end %>
      </section>

      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
=======
    </header>
    <section class="flash">
      <% flash.each do |name, message| %>
      <section class="callout <%= name %>">
        <% if name == "alert" %>
        <ul>
          <% flash[:alert].each do |field, message| %>
          <li>
            <strong> <%= field.capitalize %> </strong> <%= message %>
          </li>
          <% end %>
        </ul>
        <% else %>
        <p>
          <%= message %>
        </p>
        <% end %>
      </section>
      <% end %>
    </section>

    <main>
      <%= yield %>
    </main>
  </div>
</body>
</html>
<end>
>>>>>>> Stashed changes
